h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 15px;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}


h1 {
  padding: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  background-color: #2472b5;
  color: #ffffff;
}


h2 {
  padding: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  background-color: #d9dfe8;
  color: #2472b5;
}


h3 {
  font-size: 1.75em;
  line-height: 1.43;
  border-bottom: 3px solid #d9dfe8;
  color: #384660;
}


h4 {
  font-size: 1.25em;
}


h5 {
  font-size: 1em;
}


h6 {
  font-size: 1em;
  color: #777;
}

caption { 
  display: table-caption;
  text-align: center;
  padding: 2em 1em 1em 1em;
  font-size: 1em !important;
  line-height: 2;
}

p.caption {
  text-align: center;
  padding: 1em 1em 1em 2em;
  font-size: 1em !important;
  line-height: 2;
}

.figure {
   margin-top: 10px;
   margin-bottom: 10px;
}



