.sourceCode {
  background: #ccebff !important;
  border-radius: 15px;
}


.rmddownload {
  padding: 1em 1em 1em 4em;
  border-radius: 15px;
  margin-bottom: 10px;
  background: #ffb366 5px center/3em no-repeat;
  background-image: url("images/common/download.png");
}

.rmdimportant {
  padding: 1em 1em 1em 4em;
  border-style: solid;
  border-color: #cc3300;
  border-radius: 15px;
  margin-bottom: 10px;
  color: white;
  background: #ff0000 5px center/3em no-repeat;
  background-image: url("images/common/important.png");
}

.rmdlink {
  padding: 1em 1em 1em 4em;
  border-radius: 15px;
  margin-bottom: 10px;
  background: #a3d69f 5px center/3em no-repeat;
  background-image: url("images/common/circle_link.png");
}

.rmdlightbulb {
  padding: 1em 1em 1em 4em;
  border-radius: 15px;
  margin-bottom: 10px;
  background: #e6ccff 5px center/3em no-repeat;
  background-image: url("images/common/lightbulb.png");
}

.rmdconstruct {
  padding: 1em 1em 1em 4em;
  border-radius: 15px;
  margin-bottom: 10px;
  background: #ffff80 5px center/3em no-repeat;
  background-image: url("images/common/consturction_cone.png");
}

image{
  background: none;
  border: none;
}

table {
  font-size: .833em;
  text-align: center;
  vertical-align: center;
  border-style: solid;
  border-width: 5px;
  border-color: #595959;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #a6a6a6;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

caption {
  display: table-caption;
  font-size: .833em !important;
  text-align: left;
}

p.caption {
  #color: #777;
  margin-top: 10px;
  font-size: .833em !important;
  text-align: left;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}




.book .book-body .page-wrapper .page-inner section.normal blockquote {
  color: #252525;
  border-left: 4px solid #858585
}